.contact_form {
	    border: solid;
    color: white;
    padding: 10px;
    /* background-color: black; */
    opacity: 0.5;
    width: 1;
    height: 400px;
}

.contact_box {
	position: absolute;
    z-index: 100;
    font-family: "Ailerons";
    right: 10em;
    top: 6em;
}

.contact_name {
	font-size: 22px;
    font-family: Ailerons;
}

.contact_email {
	box-sizing: border-box;
    font-size: 22px;
    font-family: "Ailerons";
    bottom: 0;
}

.contact_message {
	height: 250px;
	box-sizing: border-box;
    font-size: 22px;
    font-family: "Ailerons";
    bottom: 0;
}