* { box-sizing: border-box; }

.grid {
	background-color: black;
}

.grid:after {
	content: '';
	display: block;
	clear:both;
}

.grid-sizer, .grid-item {
	width: 33.3333%;
}

.grid-item {
	padding:2.5px;
	float: left;
	cursor: pointer;
}

.grid-item img {
	display: block;
	max-width: 100%
}



/*2:3 width:height, max-width */

/*3:2 width:height, max-height;*/

/*1:1 square;*/